*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
tinkunakuy/node_modules
react-front-end/node_modules
tinkunakuy/~
react-front-end/~