[Unit]
Description=yachachik
After=network.target
StartLimitIntervalSec=0

[Service]
#User=www-data
#Group=www-data
Type=simple
WorkingDirectory=/home/apps/takijunchik/nodejs-firebase/middleware
ExecStart=/usr/local/bin/node /home/apps/takijunchik/nodejs-firebase/middleware/server.js

[Install]
WantedBy=multi-user.target