.upload-file-page-container{
    margin-top:32px;
    text-align: center;
}
.upload_btn{
    content: attr(data-content) !important;
    top: 0px;
    left: 0px;
    display: block;
    height: 100%;
    overflow: hidden;
    padding: 0.5rem 1rem;
}